.show-icon2{

    position: relative;
    top: -37px;
    left: 450px;

}

@media only screen and (max-width: 757px) {
    .show-icon2{

        position: relative;
        top: -37px;
        left: 210px;
    
    }
  }